body{
    background-color: white;
    margin: 0;
    padding:0;
    font-family:'Courier New', Courier, monospace
}
header{
    text-align: center;
    background-color: aqua;
    padding:10px;
}
nav ul{
    list-style-type:none ;
}
nav li{
    display:inline
}
nav a{
    color:brown;
    text-decoration: none;
    font-weight: bold;
    margin:5px;
}
nav a:hover{
    background-color: yellow;
    color:goldenrod
}
main{
    max-width: 800px;
    margin:10px auto;
}
section{
    background-color: white;
    margin:20px;
    box-shadow: 0 0 10px lightgreen;
    border-radius: 5px;
    padding:10px
}
h2{
    color:green;
    text-align: center;
}
h3{
    color:crimson;
    text-align: center;
}
.container{
    background-color: white;
    display:flex;
    gap:10px;
    
}
.service{
    border: 1px solid lightgreen;
    border-radius: 5px;
    background-color: lightgreen;
    box-shadow: 0 0 10px gray;
    flex:1

}




footer{
    text-align: center;
    background-color: aqua;
    padding:10px;
}


/**responsive**/

  @media(max-with: 768px){
   body{
    background-color:blue;
   }


  }
  